/* local font */
/* @font-face {
		font-family: "fontName";
		src: url("../fonts/fontName.ttf") format("truetype"); //url("../fonts/fontName.otf") format("opentype");
} */

/* web font */
body {
	font-family: 'NanumSquare', sans-serif;
}

span, a, button, input, select, option {
	transform: skew(0.1deg);
}
