/* css variable */
:root {
	--animationDurationSetting: 100ms; /* changeGalleryPageEffect.js && galleryClick.js 세팅 똑같이 바꿔줘야 됨 */
}

/* setting */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  background: none;
  vertical-align: baseline;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
	list-style-type: none;
}

html {
	overflow-y: scroll;
}

body, div, button, span, input, textarea, img, i {
	display: block;
	position: relative;
	float: left;
}

img {
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	object-fit: cover !important;
	-o-object-fit: cover !important;
}

input {
	outline: none;
}

::-webkit-input-placeholder {color: #bbb;} /* Chrome */
:-ms-input-placeholder {color: #bbb;} /* IE 10+ */
::-moz-placeholder {color: #bbb; opacity: 1;} /* Firefox 19+ */
:-moz-placeholder {color: #bbb;} /* Firefox 4 - 18 */

.buttonHover:hover {
	background: #eee;
}

.changeGalleryPageEffectClass {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255 ,255, 0);
	z-index: 1;
	animation-name: changeGalleryPageEffectClassName;
	animation-duration: var(--animationDurationSetting);
}

@keyframes changeGalleryPageEffectClassName {
	0% {background: rgba(255, 255 ,255, 1);}
	100% {background: rgba(255, 255 ,255, 0);}
}

#NewWaterfall li {
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
}

#NewWaterfall li.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s, top 0.5s;
}

/* ------------------ 반응형 ------------------ */
@media all and ( min-width: 900px ){
	#ttegululuIcon, #galleryIcon, #searchIcon {
		width:50px;
		height:50px;
		color:#aaa;
		cursor:pointer;
		border-radius:50%;
	}

	#ttegululuIcon img{
		width:30px;
		height:30px;
	}

	#galleryIcon i, #searchIcon i{
		top: 34%;
		left: 50%;
		font-size:60px;
		transform: translate(-50%, -50%);
	}

	#galleryIcon{
		margin:0 10px 0 11px;
	}

	#searchExtendIcon{
		display:none;
		position:absolute;
		left:-15%;
		width:80%;
		height:50px;
		padding:5px 0 5px 10px;
	}

	#searchExtendIconInput {
		border-radius:20px;
	}

	.galleryClickDivClass {
		width:100%;
		height:100%;
		background:#fff;
		cursor:pointer;
		padding:0 0 100%;  /* 패딩 안주면 검색 후 오프클릭 영역이 줄어듬 */
		animation-name: galleryClickDivClassName;
		animation-duration:var(--animationDurationSetting);
	}

	@keyframes galleryClickDivClassName {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.galleryClickDiv2Class {
		width:40%;
		left:50%;
		transform:translate(-50%,0%);
		animation-name: galleryClickDiv2ClassName;
		animation-duration:var(--animationDurationSetting);
	}

	@keyframes galleryClickDiv2ClassName {
		0% {width:39%; opacity: 0;}
		100% {width:40%; opacity: 1;}
	}
}

/* ------------------ 구분선 ------------------ */
@media all and ( max-width: 900px ){
	#ttegululuIcon, #galleryIcon, #searchIcon {
		width:80px;
		height:80px;
		color:#aaa;
		cursor:pointer;
		border-radius:50%;
	}

	#ttegululuIcon img{
		width:50px;
		height:50px;
	}

	#galleryIcon i, #searchIcon i{
		top: 36%;
		left: 50%;
		font-size:90px;
		transform: translate(-50%, -50%);
	}

	#galleryIcon{
		margin:0 10px 0 11px;
	}

	#searchExtendIcon{
		display:none;
		position:absolute;
		top:12%;
		left:-5%;
		width:70%;
		height:65px;
		padding:5px 0 5px 10px;
	}

	#searchExtendIconInput {
		border-radius:50px;
	}

	.galleryClickDivClass {
		width:100%;
		height:100%;
		background:#fff;
		cursor:pointer;
		padding:0 0 100%;  /* 패딩 안주면 검색 후 오프클릭 영역이 줄어듬 */
		animation-name: galleryClickDivClassName;
		animation-duration:var(--animationDurationSetting);
	}

	@keyframes galleryClickDivClassName {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.galleryClickDiv2Class {
		width:100%;
		left:50%;
		transform:translate(-50%,0%);
		border-radius:0px;
		animation-name: galleryClickDiv2ClassName;
		animation-duration: var(--animationDurationSetting);
	}

	@keyframes galleryClickDiv2ClassName {
		0% {width:99%; opacity: 0;}
		100% {width:100%; opacity: 1;}
	}
}
/* 반응형 끝 */
